.places__image {
  max-width: 320px;
  justify-self: center; /* красивее смотрится вроде бы */
  object-fit: cover;
}

@media screen and (min-width: 425px) {
  .places__image {
    max-width: 340px;
  }
}

@media screen and (min-width: 1024px) {
  .places__image {
    max-width: 440px;
  }
}

@media screen and (min-width: 1280px) {
  .places__image {
    max-width: 460px;
  }
}
