.places__card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  margin-bottom: 50px;
  gap: 32px;
}

@media screen and (min-width: 425px) {
  .places__card {
    margin-bottom: 50px;
    gap: 28px;
  }
}

@media screen and (min-width: 768px) {
  .places__card {
    width: 100%;
    gap: 28px;
    margin-bottom: 73px;
  }
}

@media screen and (min-width: 1024px) {
  .places__card {
    gap: 32px;
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 1280px) {
  .places__card {
    gap: 40px;
  }
}
