.places__card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  margin-bottom: 50px;
  gap: 32px;
  justify-self: center;
}

.places__card:last-of-type {
  margin-bottom: 66px;
}

@media screen and (min-width: 425px) {
  .places__card {
    gap: 28px;
  }
}

@media screen and (min-width: 768px) {
  .places__card {
    column-gap: 28px;
    row-gap: 48px;
    max-width: 720px;
    margin-bottom: 73px;
  }

  .places__card:last-of-type {
    margin-bottom: 90px;
  }
}

@media screen and (min-width: 1024px) {
  .places__card {
    max-width: 928px;
    column-gap: 32px;
    margin-bottom: 80px;
  }

  .places__card:last-of-type {
    margin-bottom: 92px;
  }
}

@media screen and (min-width: 1280px) {
  .places__card {
    max-width: 984px;
    column-gap: 40px;
  }
}
