.cover__title {
  font-family: 'Inter Black', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  text-align: center;
  margin: 0;
  padding: 0;
  z-index: 1;
  white-space: pre-line;
  font-size: 32px;
  line-height: 35px;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .cover__title {
    font-size: 72px;
    line-height: 76px;
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .cover__title {
    font-size: 72px;
    line-height: 76px;
    margin-bottom: 32px;
  }
}
