.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0px 16px 24px 16px;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
    padding: 0px 24px 24px 24px;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    padding: 0px 48px 24px 48px;
  }
}
